.buying{
    position: relative;
    margin-top: 5px;
    width: 80%;
    min-height: 65vh;
    margin: 0 auto;
}
.buying .list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.carosalview{
    width: 100%;
}
