.feature{
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 45vh;
}
.fr1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bline{
    width: 10%;
    height: 2px;
    background: #02B2EE;
    margin-right: 10px;
    margin-left: 10px;
}
.fr2{
    position: relative;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buying .header{
    width: 95%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.header .title{
    width: 70%;
    display: flex;
    align-items: center;
}
.buying .header .title .line{
    width: 10%;
    margin-left: 1%;
    height: 2px;
    background: #02B2EE;
}
.header button{
    outline: none;
    background: none;
    border: 2px solid #02B2EE;
    color: #02B2EE;
    padding: 5px 4%;
    transition: 0.7s;
}
.header button:hover{
    background-color: #02B2EE;
    color: white;
    cursor: pointer;
}