.footer{
    background: whitesmoke;;
    width: 100%;
    height: 70vh;
    margin: 10px auto;
    
}
.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-bottom: 3%;
    background: white;
    padding: 10px;
    margin-top: 3%;
    margin-bottom: 10px !important;
}
.news label{
    font-weight: 100;
}
.inputs{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}
.inputs input{
    width: 13%;
    padding: 10px 20px;
    outline: none;
}
.links{
    margin-top: 2%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
li{
    text-decoration: none;
    list-style: none;
    color: #333;
    margin-bottom: 10px;
}
li:hover{
    cursor: pointer;
    color:#FFD700;
}
.col1,.col2,.col3{
    margin-left: 10%;
}
.col1{
    display: flex;
    flex-direction: column;
}
.col1 img{
    margin-left: 30px;
}