@import url('http://fonts.cdnfonts.com/css/gotham');

@font-face {
  font-family: "GothamBold";
  src: url("./fonts/Gotham/GothamPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GothamLight";
  src: url("./fonts/Gotham/GothamPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "GothamPro";
  src: url("./fonts/Gotham/GothamPro.ttf") format("truetype");
}


.n3 .avatar{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: scale(1.2);
  margin-right: 20px;
}
html {
  scroll-behavior: smooth;
}
.cardimage{
  padding: 0.3%;
}
.fr2{
  transform: scale(0.8);
}
.cardimage .bar{
  margin-top: 10px  ;
  transform: scale(0.9);
}
.cardimage .bar .col{
  margin-left: 5%;
}
.cardimage .bar .image{
  transform: scale(1.2);
}
.cardimage h2{
  color: #333 !important;
  margin-top: 7% !important;
  width: 98%;
  margin-left: 2% !important;
}
.cardimage h4{
  margin-top: 1% !important;
  width: 98%;
  margin-left: 2% !important;
  opacity: 0.6 !important;
}
.cardimage .button button{
  font-family: 'Gotham', sans-serif !important;
  border-radius: 5px;
}
.cardimage .button h3{
  padding: 4px 6px;
  font-weight: bold;
}
.headerx{
  width: 80%;
  justify-content: space-between;
  font-family: "GothamBold";
  opacity: 0.9 !important;
  color: #333;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 50px;
}

.headerx button{
  position: relative;
  border:3px #FFD700 solid;
  cursor: pointer;
  background: none;
  color: #FFD700;
  font-size: large;
  font-weight: bold;
  transition: 0.7s;
  padding: 0px 100px;
  transform: scale(0.7);
}
.headerx button:hover{
  background: #FFD700;
  color: white;
}
.headerx .titlex{
  width: 50%;
  color: #333;
  display: flex;
  align-items: center;
}

.headerx .l{
  margin-left: 2%;
  height: 2px;
  width: 20%;
  background: #FFD700;
}
.bfind{
  display: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Gotham', sans-serif;
  overflow-x: hidden;
}
.transparent{
  width: 70% !important;
}
.spacer{
  display: none;
}
.n3 {
  display: none;
}
.row1 .item1{
  width: 7%;
  height: 60%;
}
.row1 .item2{
  width: 20%;
  height: 60%;
}
.row1 .rowitem1 {
  width: 17%;
  height: 60%;

}
.row1 .rowitem2{
  display: flex;
  justify-content: space-evenly !important;
  width: 70%;
  margin-left: 10px;
  height: 60%;
}
.rowitem2 .itemy{
  width: 17%;
  height: 100%;

}
.rowitem2 .itemz{
  width: 17%;
  height: 100%;
  margin-left: 2px;
  background: white;
}
.menubar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 30px;
}
.bar{
  width: 100%;
  height: 25%;
  background: white;
}
nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  z-index: 50;
}

nav h1{
  color: white;
}
.drop{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  cursor: pointer;
}
.drop:hover{
  cursor: pointer;
}

.drop .menu{
  display: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
  min-height: 0px;
}
.drop .menu a{
  width:fit-content;
}
.drop:hover .menu{
  position: absolute;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  background: white;
  margin-top: 20px;
  margin-left: 20px;
  color: black !important;
  padding: 10px 120px 10px 10px ;
  max-height: 0px;
  overflow: hidden;
  transition: 07s;
  animation: fillup 3s ease-in-out forwards;
}
@keyframes fillup {
  0%{
    max-height: 0px;
  }
  100%{
    max-height: 10000px;
  }
}
.drop:hover .closed{
  display: block;
}
.drop .closed{
  transform: rotateZ(180deg);
}
.drop:hover .opened{
  display: none;
}
.nv{
  transition: 2s;
}
.drop .title{
  font-size: 13px;
  font-weight: 100 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opened,.closed{
  font-weight: bold;
  font-size: 13px;
}
.closed{
  display: none;
  margin-left: 5px;
}
.opened{
  margin-left: 5px;
}
.menu a{
  color: #aeb5b8 !important;
  margin-left: 0px !important;
  font-weight: 100 !important;
  margin-bottom: 3px !important;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 7px;
  padding-bottom: 5px;
}
.menu a .line{
  width: 0%;
  height: 1px;
  margin-top: 6px;
  background: black;
  transition: 0.7s;
}

.menu a:hover{
  color: #FFD700 !important;
}
.menu a:hover .line{
  background: #FFD700;
  width: 100%;
}
.n1{
  display: flex;
  align-items: center;
  color: white;
  width: 40% !important;
  margin-left: 10px;
}
.n1 h1, .n1 a{
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
}
label{
  margin-left: 10px;
  font-weight: bold;
}
.hero{
  position: relative;
  width: 100%;
  height: 90vh;
}
#heroimg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav{
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100% !important;
  height: 10px;

}

nav .img{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .img img{
  width: 100%;
}

h1{
  z-index: 10;
  background-color: none;
}
.n2{
  display: flex;
  align-items: center;
  margin-left:10%;
}
.n2 .avatar{
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center ;
  justify-content: center;
  border-radius: 50%;
  margin-left: 10px;
}
.avatar img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.n2 h1{
  margin-left: 10px;
}

.card{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 230px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  margin-right: 30px;
}
.card img{
  width: 40%;
  margin-bottom: 3px;
}
.card h3{
  padding: 0;
  margin: 0;
}
.card p{
  width: 80%;
  text-align: center;
}
.card h3{
  width: 80%;
  text-align: center;
  margin-top: 2%;
}
.cardimage{
  width: 100%;
  height: 100%;
  transform: scale(0.9);
}

.cardimage img{
  width: 100%;
  height: 100%;
}

.cardimage .bar{
  width: 100%;
  height: 60px;
  background: whitesmoke;
  border-radius: 30px;
}
.image{
  position: relative;
}
.image .button{
  position: absolute;
  left: 2%;
  top: 5%;
}
.button button{
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
}
.image .bottom{
 color: white;
}
.bottom h3{
  background: #FFD700;
  padding: 2px 20px;
}
.bar .image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: wheat;
}
.bar .image img{
  border-radius: 50%;
}
.left{
  display: flex;
  align-items: center;
}
.left .col{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.col h5, .col h3{
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  font-size: smaller;
  font-weight: 300;
}
.col h3{
  font-weight:500;
  font-size: medium;
}
.cardimage h2, .cardimage h4{
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-weight: 500;
}
.cardimage h2:hover{
  color: #02b2ee;
  cursor: pointer;
}
.cardimage h4{
  font-weight: 100;
  opacity: 0.7;
}





.infocard {
  display: flex;
  width: 40%;
  height: 100px;
  padding: 10px 20px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.infocard .column1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column1 h3,.column1 h5{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
.column1 h5{
  margin-bottom: 10px;
}
.column1 p{
}
.column2 img{
  width: 90%;
}
.crow{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}







@media screen and (max-width: 1183px) {
 
  nav {
    justify-content: center;
  }
  .n1{
    display: none;
  }
  .n2{
    display: none;
  }
  .n3{
    display: flex !important;
    align-items: center !important;
  }
}
@media screen and (max-width: 1383px) {
  nav img{
     width: 200px;
  }
  nav {
    justify-content: space-around;
  }
  .n1{
    display: none;
    width: 80% !important;
  }
  .n2{
    display: none;
    width: 80% !important;
  }
  .n3{
    display: flex !important;
    align-items: center !important;
    margin-left: 30%;
  }
  .feature{

  }
  .card img{
    width: 50px !important;
    height: 50px !important;
  }
  .card h3, .card p{
    
  }
  .fr2{
    width: 100% !important;
    grid-template-columns: 1fr 1fr !important;
    margin-left: 2% !important;
  }
}

@media screen and (max-width: 1344px) {
   .cta{
     display: block !important;
     height: 130vh;
   }
   .cta img{
     width: 100% !important;
   }
   .cta .column{
     width: 100% !important;
   }
   .crow{
     display: flex !important;
     flex-direction: column !important;
   }
   .infocard{
     width: 80%;
     margin-bottom: 10px;
   }
   .rowA {
     display: block !important;
   }
   
   .cardimage{
     transform: scale(0.8);
   }
   .header{
     transform: scale(0.7);
   }

   .headerx{
    width: 80%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .headerx button{
    position: relative;
    border:1px #FFD700 solid;
    cursor: pointer;
    background: none;
    color: #FFD700;
    transition: 0.7s;
    padding: 10px 30px;
  }
  .headerx button:hover{
    background: #FFD700;
    color: white;
  }
  .headerx .titlex{
    width: 50%;
    display: flex;
    align-items: center;
  }
  .headerx .l{
    margin-left: 2%;
    height: 2px;
    width: 20%;
    background: #FFD700;
  }
  .ctax .headerx {
    display: none !important;
  }
  .b{
    
  }
  .headerx h1{
    font-size: large;
  }
  nav .img{
     position: relative;
     left: 13%;
  }
  .n3{
    display: flex !important;
    align-items: center !important;
  }
}


@media screen and (max-width: 850px){
  .n3{
    display: flex !important;
    align-items: center !important;
  }
  .n2,.n1{
    display: none;
  }
  
}

@media screen and (max-width: 735px){
  .n3{
    display: flex !important;
    align-items: center !important;
  }
  .n2,.n1{
    display: none;
  }
  .feature{
    margin-bottom: 3%;
    margin-left: 10px;
  }
  .cardimage{
    width: 110%;
  }
  .card{
    width: 30%;
  }
}
@media screen and (max-width: 600px){
  nav img{
    margin-right: 50px !important;
  }
  .n3{
    margin-right: 45px !important;
  }
 .feature{
  margin-bottom: 15% !important;
 }
 .ofplan{
   padding-top: 3%;
 }
  .about .infocard {
      width: 100% !important;
  }
  .ofplan .header h1{
    width: 100% !important;
  }

  .card {
    margin: 0px !important;
  }
  .fr2{
    width: 100% !important;
    grid-template-columns: 1fr !important;
    grid-gap: 16 !important;
  }
  .feature{
    width: 80% !important;
    min-height: 90vh;
    margin-left: 10px;
  }
  .cardimage{
    width: 100%;
  }
  .card{
    width: 80% !important;
    padding-top: 10% !important;
    padding: 10%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 735px) { 
  .fr2{
    transform: scale(1);
  }
  .headerx{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  .headerx button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,20%);
    border:1px #FFD700 solid;
    cursor: pointer;
    background: none;
    width: 200px;
    color: #FFD700;
    transition: 0.7s;
    padding: 5px 5px;
  }
  .headerx button:hover{
    background: #FFD700;
    color: white;
  }
  .headerx .titlex{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .headerx .l{
    margin-left: 2%;
    height: 2px;
    width: 20%;
    background: #FFD700;
  }
  .headerx h1{
    font-size: large;
    width: 100% !important;
  }
  .fr2{
   
  }
  .card{  
    margin-bottom: 30px;
  }
  .feature{

  }
  .title h1{
    font-size: large;
  }
  .header button{
    display: none;
  }
  .cardimage{
    transform: scale(0.7);
  }
  
  .rowA {
    display:block !important;
    flex-direction: column;
  }
  .crow{
    flex-direction: column;
  }
  .infocard{
    width: 90%;
  }
  .infocard p{
    font-size: 0.8rem !important;
  }
  
  .cta {
    width: 100% !important;
    flex-direction: column;
  }
  .cta img{
    width: 100% !important;
    height: 20% !important;
  }
  .innerheader{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column{
    width: 100% !important;
  }
  .column p{
     width: 80% !important;
     margin: 10 auto;
  }
}
@media screen and (max-width: 403px){
  
  .feature{
    
  }
  .header{
    transform: scale(1.1);
  }
  .buying{
    top: 100%;
  }
  
  .innerheader{
    transform: scale(0.8);
  }
  .cta{
    height: 160vh !important;
  }
  .cta p{
    text-align: justify;
  }
  .links{
    transform: scale(0.6);
  }
  .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs input{
    width: 80% !important;
    margin-bottom: 10px;
  }
  .transparent{
    width: 80% !important;
  }
  .transparent h1{
    font-size: medium !important;
  }
  .hero{
    height: 80vh !important;
  }
  .about p{
    width: 90% !important;
    text-align: justify !important;
  }
}

@media screen and (max-width: 600px) and (max-height: 800px){
  body{
    display: block;
  }
  
  .bfind{
    display: flex !important;
    margin-top: 90px;
    background: red !important;
    width: 100% !important;
    height: 30px !important;
    color: white;

  }
  .bfind .fi{

  }
  .items{
    flex-direction: column !important;
    height: 80px !important;
  }
  .block1{
    width: 100% !important;
  }
  .block1 #selector{
    width: 50% !important;
  }
  .block2{
    margin-top: 10px;
    width: 100% !important;
  }
  .block2 .findBtn{
    display: none;
  }
  .block2 .search{
    margin: 0px !important;
    width: 100%;
    padding: 0px !important;
    margin-left: -20px !important;
  }
  .block2 .inputfield{
    width: 100% !important;
    z-index: 1;
  }
  .block3{
    position: relative;
    z-index: -1;
   width: 100% !important;
  }
  .block4{
    margin-top: 20px;
    width: 80% !important;
    z-index: -2;
  }
  .block4 .multi{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 10px;
  }
  .multi #selector{
    width: 100% !important;
    height: 30px !important;
  }
}
@media screen and (max-width: 600px){
  
  .ofplan ,.r,.b{
     min-height: 100px !important;
     margin-bottom: 10% !important;
  }
  .b,.r,.ofplan{
    width: 90% !important;
  }
  
  .spacer2{
    margin-top: 150px;
  }
  .cardimage{
    transform: scale(1);
  }
  .cardimage h2{
    width: 80%;
    margin-left: 2px;
   font-size: medium;
  }
  .ofplan .header{
   width: 80% !important;
  }
  .ofplan .header h1{
    width: 80% !important;
    transform: scaleY(1.3);
  }
  .pop {
    width: 90% !important;
  }
  .rowA{
    width: 100% !important;
  }
  .feature{
    width: 90% !important;
  }
  .spacer{
    margin-bottom: 150px;
  }

  .n3{
    display: flex !important;
    align-items: center !important;
  }
    nav img{
      width: 8%;
      margin-left: 10%;
    }
  .header{
    transform: scale(1.1);
  }
  
  .innerheader{
    transform: scale(0.8);
  }
  .cta{
    height: 160vh !important;
  }
  .cta p{
    text-align: justify;
  }
  .links{
    transform: scale(0.6);
  }
  .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs input{
    width: 80% !important;
    margin-bottom: 10px;
  }
  .transparent h1{
    font-size: medium !important;
  }
  .hero{
    height: 80vh;
  }
  .about p{
    width: 90% !important;
    text-align: justify !important;
  }
}
@media screen and (max-height: 1700px){
  .cta{
    height: 100vh !important;
  }
}
@media screen and (max-width: 1300px) {
  .cta{
    height: 0vh !important;
  }
  .feature{
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-height: 1400px){
  .cta{
    height: 100vh !important;
  }
  .cardimage .bottom h3{
    position: absolute;
    margin-top: 30%;
  }
}
@media screen and (max-width: 1394px){
  nav img{
   width: 8%;
  }
 
}
@media screen and (max-width: 1580px){
  .findBtn {
    width: 30% !important;
  }
}
@media screen and (max-height: 700px){
  .ctax .button{
    display: flex;
    justify-content: center;
  }
  
  .ctax .button button{
    padding: 5px;
    width: 40%;
  }
  .ctax .column{
    width: 100% !important;
    background: whitesmoke;
  }
  .ctax .innerheader{
    display: flex !important;
    width: 100%;
    margin: 10px 0px;
  }
  .innerheader h1{
    font-size: large;
    transform: scale(1.2);
  }

  .ctax p{
    width: 100px !important;
    margin-left: 30px !important;
    text-align: justify !important;
    margin-bottom: 10px !important;
  }
  .transparent {
    height: 170px;
    top: 60% !important;
  }
 .transparent .items {
   display: block !important;
   width: 100% !important;
   height: 35px !important;
 }
  
  .hero{
    width: 100% !important;
  }
  #heroimg{
    width: 100%;
  }
  nav img{
    margin-left: 10px;
  }
  .n3{
    display: flex !important;
    align-items: center !important;
  }
  .feature h1{
    font-size: 20px;
  }
  .buying .header .title{
    width: 100%;
  }
  .buying .header h1{
    width: 100%;
  }
 
  .about .header h1{
    width: 40%;
  }
  .spacer{
    display: block;
    height: 15vh;
  }
}

.uper{
  position: relative !important;
  z-index: 10 !important;
}


@media screen and (max-height: 900px){
  .transparent{
    height: 30vh !important;
  }
 
}
@media screen and (min-height: 973px){
  .transparent{
    height: 20vh !important;
  }
 
}
@media screen and (min-height: 700px) and (max-width:700px){
  .feature{
    margin-bottom: 3% !important;
  }
  
}
@media screen and (max-height: 700px){
  .transparent{
    height: 46vh !important;
  }
  .items{
    flex-direction: column !important;
  }
  .block1{
    width: 100% !important;
  }
  .block1 #selector{
    width: 50% !important;
  }
  .block2{
    margin-top: 10px;
    width: 100% !important;
  }
  .block2 .findBtn{
    display: none;
  }
  .block2 .inputfield{
    width: 100% !important;
  }
  .block3{
    margin-top: 40px;
    width: 100% !important;
  }
  .block4{
    margin-top: 20px;
    width: 100% !important;
    margin-left: -0% !important;
  }
  .block4 .multi{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    width: 100% !important;
    grid-gap: 10px;
  }
  .multi #selector{
    width: 100% !important;
    height: 30px !important;
  }
  .block2 .search{
    margin: 0px !important;
    width: 100%;
    padding: 0px !important;
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 700px) and (max-height: 950px) {
    .spacer{
      display: none;
    }
    nav{
      justify-content: space-between;
    }
    
    .ctax{
      margin-top: 0% !important;
    }
    .ctax p{
      text-align: justify !important;
      margin-left: 7% !important;
    }
}

@media screen and (min-width:1380px) {
  .infocard{
     height: 25vh;
  }
  .infocard h3{
    font-size: 3rem !important;
    margin-bottom: 6%;
    color: #333;
  }
  .infocard h5{
    color: #333;
    font-size: 1rem;
    margin-bottom: 2% !important;
  }
  .infocard p{
    width: 50% !important;
    margin: 0px !important;
    text-align: justify !important;
    font-size: 0.9rem !important;
  }
}