@import url('http://fonts.cdnfonts.com/css/gotham');
html {
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Gotham', sans-serif;
  overflow-x: hidden;
}

.spacer{
  display: none;
}
.n3 {
  display: none;
}
.row1 .item1{
  width: 7%;
  height: 60%;
}
.row1 .item2{
  width: 20%;
  height: 60%;
}
.row1 .rowitem1 {
  width: 17%;
  height: 60%;

}
.row1 .rowitem2{
  display: flex;
  justify-content: space-evenly !important;
  width: 70%;
  margin-left: 10px;
  height: 60%;
}
.rowitem2 .itemy{
  width: 17%;
  height: 100%;

}
.rowitem2 .itemz{
  width: 17%;
  height: 100%;
  margin-left: 2px;
  background: white;
}
.menubar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 30px;
}
.bar{
  width: 100%;
  height: 25%;
  background: white;
}
nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
nav h1{
  color: white;
}
.drop{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  cursor: pointer;
}
.drop:hover{
  cursor: pointer;
}
.drop .menu{
  display: none;
  cursor: pointer;
  z-index: 2;
}
.drop:hover .menu{
  position: absolute;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  background: white;
  margin-top: 20px;
  margin-left: 20px;
  color: black !important;
  padding: 10px 120px 10px 10px ;
}
.drop:hover .closed{
  display: block;
}
.drop .closed{
  transform: rotateZ(180deg);
}
.drop:hover .opened{
  display: none;
}
.drop .title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.opened,.closed{
  font-weight: bold;
  font-size: 1rem;
}
.closed{
  display: none;
  margin-left: 5px;
}
.opened{
  margin-left: 5px;
}
.menu a{
  color: #aeb5b8 !important;
  margin-left: 0px !important;
  font-weight: 100 !important;
  margin-bottom: 3px !important;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 7px;
  padding-bottom: 5px;
}
.menu a .line{
  width: 0%;
  height: 1px;
  margin-top: 6px;
  background: black;
  transition: 0.7s;
}

.menu a:hover{
  color: #ff0000 !important;
}
.menu a:hover .line{
  background: #ff0000;
  width: 100%;
}
.n1{
  display: flex;
  align-items: center;
  color: white;
  width: 50% !important;
  margin-left: 10px;
}
.n1 h1, .n1 a{
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
label{
  margin-left: 10px;
  font-weight: bold;
}
.hero{
  position: relative;
  width: 100%;
  height: 90vh;
}
#heroimg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav{
  width: 100% !important;
  background: none;
}
nav img{
  width: 5%;
}

h1{
  z-index: 10;
  background-color: none;
}
.n2{
  display: flex;
  align-items: center;
  margin-left:10%;
}
.n2 .avatar{
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center ;
  justify-content: center;
  border-radius: 50%;
  margin-left: 10px;
}
.avatar img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.n2 h1{
  margin-left: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 10px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
  margin-right: 30px;
}
.card img{
  width: 40%;
  margin-bottom: 3px;
}
.card h3{
  padding: 0;
  margin: 0;
}
.card p{
  width: 80%;
  text-align: center;
}
.card h3{
  width: 80%;
  text-align: center;
  margin-top: 2%;
}
.cardimage{
  width: 80%;
  height: 100%;
}

.cardimage img{
  width: 100%;
  height: 100%;
}
.cardimage .bar{
  width: 100%;
  height: 60px;
  background: whitesmoke;
  border-radius: 30px;
}
.image{
  position: relative;
}
.image .button{
  position: absolute;
  left: 2%;
  top: 5%;
}
.button button{
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
}
.image .bottom{
 color: white;
}
.bottom h3{
  background: #ff0000;
  padding: 2px 20px;
}
.bar .image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: wheat;
}
.bar .image img{
  border-radius: 50%;
}
.left{
  display: flex;
  align-items: center;
}
.left .col{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.col h5, .col h3{
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  font-size: smaller;
  font-weight: 300;
}
.col h3{
  font-weight:500;
  font-size: medium;
}
.cardimage h2, .cardimage h4{
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-weight: 500;
}
.cardimage h2:hover{
  color: #02b2ee;
  cursor: pointer;
}
.cardimage h4{
  font-weight: 100;
  opacity: 0.7;
}





.infocard {
  display: flex;
  width: 40%;
  height: 100px;
  padding: 10px 20px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.infocard .column1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column1 h3,.column1 h5{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
.column1 h5{
  margin-bottom: 10px;
}
.column1 p{
}
.column2 img{
  width: 90%;
}
.crow{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}







@media screen and (max-width: 1183px) {
 
  nav {
    justify-content: flex-start;
  }
  .n1{
    display: none;
  }
  .n2{
    display: none;
  }
}
@media screen and (max-width: 1383px) {
  nav img{
     width: 200px;
  }
  nav {
    justify-content: flex-start;
  }
  .n1{
    width: 80% !important;
  }
  .n2{
    width: 80% !important;
  }
}

@media screen and (max-width: 1244px) {
   .cta{
     display: block !important;
     height: 130vh;
   }
   .cta img{
     width: 100% !important;
   }
   .cta .column{
     width: 100% !important;
   }
   .crow{
     display: flex !important;
     flex-direction: column !important;
   }
   .infocard{
     width: 80%;
     margin-bottom: 10px;
   }
   .rowA {
     display: block !important;
   }
   .pop{
     height: 180vh !important;
   }
   .cardimage{
     transform: scale(0.8);
   }
   .header{
     transform: scale(0.7);
   }
}

@media screen and (max-width: 1062px){
  nav img{
    width: 8%;
    margin-left: 10%;
  }
  .n3{
    display: block;
    position: relative;
    left: 70%;
    }
}
@media screen and (max-width: 850px){
  .n3{
    display: block;
    position: relative;
    left: 60%;
    }
}

@media screen and (max-width: 735px){
  .n3{
    display: block;
    position: relative;
    left: 40%;
    }
  .feature{
    height: 159vh !important;
    margin-bottom: 3%;
    margin-left: 10px;
  }
  .cardimage{
    width: 110%;
  }
  .card{
    width: 30%;
  }
}
@media screen and (max-width: 600px){
  .n3{
    display: block;
    position: relative;
    left: 40%;
    }
  .feature{
    margin-bottom: 100px;
    margin-left: 10px;
  }
  .cardimage{
    width: 110%;
  }
  .card{
    width: 60%;
  }
}
@media screen and (max-width: 735px) {
  .fr2{
    display: flex;
    flex-direction: column;
  }
  .card{
    margin-bottom: 30px;
  }
  .feature{
    height: 180vh;
  }
  .title h1{
    font-size: large;
  }
  .header button{
    display: none;
  }
  .cardimage{
    transform: scale(0.7);
  }
  .pop{
    height: 190vh !important;
  }
  .rowA {
    display:block !important;
    flex-direction: column;
  }
  .crow{
    flex-direction: column;
  }
  .infocard{
    width: 90%;
  }
  .infocard p{
    font-size: 0.8rem !important;
  }
  .about{
    height: 90vh;
  }
  .cta {
    width: 100% !important;
    flex-direction: column;
  }
  .cta img{
    width: 100% !important;
    height: 20% !important;
  }
  .innerheader{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column{
    width: 100% !important;
  }
  .column p{
     width: 80% !important;
     margin: 10 auto;
  }
}
@media screen and (max-width: 403px){
  .feature{
    height: 200vh !important;
  }
  .header{
    transform: scale(1.1);
  }
  .buying{
    top: 100%;
  }
  .about{
    height: 140vh !important;
  }
  .innerheader{
    transform: scale(0.8);
  }
  .cta{
    height: 160vh !important;
  }
  .cta p{
    text-align: justify;
  }
  .links{
    transform: scale(0.6);
  }
  .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs input{
    width: 80% !important;
    margin-bottom: 10px;
  }
  .transparent{
    width: 80% !important;
  }
  .transparent h1{
    font-size: medium !important;
  }
  .hero{
    height: 80vh !important;
  }
  .about p{
    width: 90% !important;
    text-align: justify !important;
  }
}
@media screen and (max-width: 600px){
  
  .cardimage{
    transform: scale(1);
  }
  .cardimage h2{
    width: 80%;
    margin-left: 2px;
   font-size: medium;
  }
  .ofplan .header{
   width: 100% !important;
  }
  .ofplan .header h1{
    width: 80% !important;
    transform: scaleY(1.3);
  }
  .pop {
    width: 90% !important;
  }
  .rowA{
    width: 100% !important;
  }
  .feature{
    width: 100% !important;
  }
  .spacer{
    margin-bottom: 150px;
  }
  .card{
    width: 100%;
    height: 6% !important;
  }
  .n3{
    margin-left: 60%;
    transform: scale(0.7);
  }
    nav img{
      width: 8%;
      margin-left: 10%;
    }
  .feature{

    height: 130vh !important;
  }
  .header{
    transform: scale(1.1);
  }
  .about{
    height: 100vh !important;
  }
  .innerheader{
    transform: scale(0.8);
  }
  .cta{
    height: 160vh !important;
  }
  .cta p{
    text-align: justify;
  }
  .links{
    transform: scale(0.6);
  }
  .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inputs input{
    width: 80% !important;
    margin-bottom: 10px;
  }
  .transparent h1{
    font-size: medium !important;
  }
  .hero{
    height: 50vh;
  }
  .about p{
    width: 90% !important;
    text-align: justify !important;
  }
}
@media screen and (max-height: 1700px){
  .cta{
    height: 100vh !important;
  }
}
@media screen and (max-width: 1300px) {
  .cta{

    height: 0vh !important;
  }
}
@media screen and (max-height: 1400px){
  .cta{
    height: 100vh !important;
  }
  .cardimage .bottom h3{
    position: absolute;
    margin-top: 30%;
  }
}
@media screen and (max-width: 1394px){
  nav img{
   width: 8%;
  }
 
}
@media screen and (max-width: 1580px){
  .findBtn {
    width: 100% !important;
  }
}
@media screen and (max-height: 700px){
  .ctax .button{
    display: flex;
    justify-content: center;
  }
  
  .ctax .button button{
    padding: 5px;
    width: 40%;
  }
  .ctax .column{
    width: 100% !important;
    background: whitesmoke;
  }
  .ctax .innerheader{
    display: flex !important;
    width: 100%;
    margin: 10px 0px;
  }
  .innerheader h1{
    font-size: large;
    transform: scale(1.2);
  }
  .ctax p{
    margin: 0 auto !important;
    margin-bottom: 10px !important;
  }
  .transparent {
    height: 170px;
    top: 60% !important;
  }
 .transparent .items {
   display: block !important;
   width: 100% !important;
   height: 35px !important;
 }
  .items .block1{
    width: 100%;
  }
  .block2{
    margin-top: 10px;
    width: 100%;
    background: red;
  }
  .block2 .inputfield{
    width: 100% !important;
  }
  .block2 .findBtn{
      display: none !important;
  }
  .block3{
    display: none;
    width: 100%;
    height: 100%;
  }
  .block4{
    margin-top: 26px;
    width: 100% !important;
  }
  .hero{
    width: 100% !important;
  }
  #heroimg{
    width: 100%;
  }
  nav img{
    margin-left: 10px;
  }
  .n3{
    display: block;
    left: 18%;
  }
  .feature h1{
    font-size: 20px;
  }
  .buying{
    margin-top: 50px !important;
  }
  .buying .header .title{
    width: 100%;
  }
  .buying .header h1{
    width: 100%;
  }
 
  .about .header h1{
    width: 40%;
  }
  .spacer{
    display: block;
    height: 15vh;
  }
}

.uper{
  position: relative !important;
  z-index: 10 !important;
}